<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Signature Verifivation</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='ionicons.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='animate.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/">WRITER INDEPENDENT SIGNATURE VERIFICATION</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <p class="text-center" style="font-size: 25px;color: var(--bs-red);font-weight: bold;">Error:&nbsp; {{ error_msg }}</p>
        </section>
        <div class="text-center" style="margin-top: 2%;"><a class="btn btn-primary" role="button" style="background: var(--bs-blue);border-style: none;" href="/verify"> Return to homepage</a></div>
    </main>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='bs-init.js')}}"></script>
    <script src="{{url_for('static', filename='theme.js')}}"></script>
    <script src="{{url_for('static', filename='pikaday.min.js')}}"></script>
</body>

</html>